<url>
 <loc>https://whit.by/businesses/<perch:sc id="businessCategory" />/<perch:sc id="businessSlug" /></loc>
 <changefreq>monthly</changefreq>
 <priority>0.60</priority>
 <xhtml:link rel="alternate" hreflang="x-default" href="https://whit.by/businesses/<perch:sc id="businessCategory" />/<perch:sc id="businessSlug" />" />
 <xhtml:link rel="alternate" hreflang="fr-x-mtfrom-en" href="https://whit.by/fr/businesses/<perch:sc id="businessCategory" />/<perch:sc id="businessSlug" />" />
 <xhtml:link rel="alternate" hreflang="de-x-mtfrom-en" href="https://whit.by/de/businesses/<perch:sc id="businessCategory" />/<perch:sc id="businessSlug" />" />
 <xhtml:link rel="alternate" hreflang="es-x-mtfrom-en" href="https://whit.by/es/businesses/<perch:sc id="businessCategory" />/<perch:sc id="businessSlug" />" />
 <xhtml:link rel="alternate" hreflang="it-x-mtfrom-en" href="https://whit.by/it/businesses/<perch:sc id="businessCategory" />/<perch:sc id="businessSlug" />" />
</url>