<title><perch:sc id="listingTitle"/> - Whitby Business Directory</title>
	<meta name="description" content="<perch:sc id="short" type="text" label="Short Description" />" />
	<meta property="og:site_name" content="whit.by">
	<meta property="og:url" content="https://whit.by<perch:sc id="url_0" />">
	<meta property="og:title" content="<perch:sc id="listingTitle"/>">
	<meta property="og:description" content="<perch:sc id="short" type="text" label="Short Description" />">
	<meta property="og:image" content="https://whit.by<perch:sc id="image_large" replace="../../..|" />">
	<meta property="og:type" content="website">