{
  title: '<perch:sc id="guestName" /> • #<perch:sc id="bookingID">',
  guestname: '<perch:sc id="guestName" />',
  email: '<perch:sc id="email" />',
  phone: '<perch:sc id="phone" />',
  arrival: '<perch:sc id="startDate" format="d/m/Y" />',
  departure: '<perch:sc id="endDate" format="d/m/Y" />',
  totalPrice: '<perch:sc id="total" />',
  totalPaid: '<perch:sc id="paid" />',
  description: 'Booking',
  start: '<perch:sc id="startDate" />',
  end: '<perch:sc id="endDate" />',
  color: '<perch:sc id="colour" />',
  textColor: '#fff',
  r_url: '/admin/booking/<perch:sc id="bookingID" />'
},