.DS_Store
/perch/config/config.php
/perch/config/config.production.php
/perch/config/config.local.php
/perch/config/config.hivechat-co-uk.php
/perch/config/config.localhost.php
/perch/resources/
/file_uploads/
node_modules
