<perch:form 
	id="create_organisation_invite" 
	method="post" 
	app="hive_hivechat" 
	type="default" 
	action="/explore/organisations/<perch:hc id="organisationSlug" />/manage/members/add" 
	class="form">
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="card-title m-b-0">Invite a member</h5>
        </div>
        <div class="card-body">
			<div class="form-group">
				<label>Email</label>
				<perch:input type="email" class="form-control" id="memberEmail" required="true" />
				<p class="message"> </p>
            </div>
			<div class="form-group c-form-check">
				<label class="c-form-check__label">
					Send invite email?
				</label>
				<perch:input type="checkbox" id="send_email" class="c-form-check__input" value="1" />
			</div>
			<perch:input type="text" class="form-control" id="senderID" hidden value="<perch:hc id="memberID" />" />
			<perch:input type="text" class="form-control" id="organisationID" value="<perch:hc id="organisationID">" hidden />
			<perch:input id="submit-button" type="submit" class="btn btn-secondary organisationSubmit" value="Add">
        </div>
	</div>
</perch:form>