
<div class="card">
	<div class="card-header">
		<div class="card-header-title"><perch:hc id="hiveTitle" /></div>
	</div>
	<div class="card-body" style="display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start;">
		<p><perch:hc id="introduction" html/></p>
		<perch:if exists="organisationID">
			<a href="/explore/organisations/<perch:hc id="organisationSlug">/<perch:hc id="hiveID" />" class="btn btn-secondary">View</a>
		<perch:else>
			<a href="/hive/<perch:hc id="hiveID" />" class="btn btn-secondary">View</a>
		</perch:if>
	</div>
</div>
