<perch:form id="create_cell" method="post" app="hive_hivechat" type="default" action="">
	<div class="card mb-3">
        <div class="card-header">
            <h5 class="card-title m-b-0">Create a Cell</h5>
        </div>
        <div class="card-body">
			<perch:success show-form="true">
				<div class="alert alert-success" role="alert">Your Cell has been created.</div>
			</perch:success>
			<div class="form-group">
				<label>Title</label>
				<perch:input type="text" class="form-control" id="cellTitle" required="true" placeholder="Cell Name" />
            </div>
            <div class="form-group">
				<label>Date/Time (if applicable)</label>
				<perch:input type="text" class="form-control" id="cellDateTime" placeholder="YYYY-MM-DD HH:MM:SS" />
            </div>
			<perch:input type="submit" class="btn btn-secondary" value="Create">
			<perch:input type="hidden" class="form-control" id="hiveID" />
        </div>
	</div>
</perch:form>