<perch:form id="create_hive" method="post" app="hive_hivechat" type="default" action="<perch:if exists="organisationSlug"><perch:hc id="organisationSlug"></perch:if>" class="">
	<div class="card mb-3">
        <div class="card-header">
			<perch:if exists="organisationID">
				<h5 class="card-title m-b-0">Create an Organisation Hive</h5>
			<perch:else>
				<h5 class="card-title m-b-0">Create a Hive</h5>
			</perch:if>
        </div>
        <div class="card-body">
			<perch:success>
				<div class="alert alert-success" role="alert">Your Hive has been created.</div>
				<perch:if exists="organisationSlug">
					<a href="/admin/organisations/<perch:hc id="organisationSlug">">
						<button class="btn btn-primary">
							Create Another
						</button>
					</a>
				</perch:if>
			</perch:success>
			<div class="form-group">
				<label>Title</label>
				<perch:input type="text" class="form-control" id="hiveTitle" required="true" placeholder="Hive Name" />
            </div>
            <div class="form-group">
	            <label>Category</label>
				<perch:input type="select" class="form-control" id="hiveCategory" required="true" options="Business,Environment,Health,How To" />
            </div>
			<perch:input type="submit" class="btn btn-secondary" value="Create">
			<perch:if exists="organisationID">
				<perch:input hidden type="text" id="organisationID">
			</perch:if>
        </div>
	</div>
</perch:form>