<perch:form id="delete_hive" method="post" app="hive_hivechat" type="default" action="" action="/admin/your-hives">
	<div class="card mb-3">
        <div class="card-header">
            <h5 class="card-title m-b-0">Delete Hive</h5>
        </div>
        <div class="card-body">
	        <p>Be careful. This will delete this entire Hive including all Cells and associated content and communication.</p>
			<perch:input type="submit" class="btn btn-danger" value="Delete">
			<perch:input type="hidden" class="form-control" id="hiveID" required="true" />
        </div>
	</div>
</perch:form>