<perch:before>
    <div class="card mb-3">
        <div style="justify-content: space-between;" class="card-header">
            <h5 class="card-title m-b-0">Member Requests</h5>
        </div>
        <div class="table-responsive">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Message</th>
                    <th>Date</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
</perch:before>
                    <perch:if id="noData" value={true}>
                      <tr>
                        <td colspan="3">
                          No requests.
                        </td>
                      </tr>
                    <perch:else>
                      <tr>
                          <td>
                              <div class="widget-content p-0">
                                  <div class="widget-content-wrapper">
                                      <div class="widget-content-left flex2">
                                          <div class="widget-heading"><perch:hc id="first_name"> <perch:hc id="last_name"></div>
                                      </div>
                                  </div>
                              </div>
                          </td>
                          <td>
                              <div class="widget-content p-0">
                                  <div class="widget-content-wrapper">
                                      <div class="widget-content-left flex2">
                                          <div class="widget-heading"><perch:hc id="requestText"></div>
                                      </div>
                                  </div>
                              </div>
                          </td>
                          <td>
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left flex2">
                                        <div class="widget-heading"><perch:hc id="dateCreated"></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                          <td>
                            <div class="table-action">
                              <perch:form id="accept_request" method="post" app="hive_hivechat" type="default" action="">
                                <perch:input type="hidden" id="requestID" value="<perch:hc id="requestID" />" />
                                <perch:input id="submit-button" type="submit" class="btn btn-primary" value="Accept">
                              </perch:form>
                              <perch:form id="decline_request" method="post" app="hive_hivechat" type="default" action="">
                                <perch:input type="hidden" id="requestID" value="<perch:hc id="requestID" />" />
                                <perch:input id="submit-button" type="submit" class="btn btn-danger" value="Decline" />
                              </perch:form>
                            </div>
                          </td>
                      </tr>
                    </perch:if>
<perch:after>
                </tbody>
            </table>
        </div>

    </div>
</perch:after>