<perch:before>
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="card-title m-b-0">Manage Socials</h5>
        </div>
        <div class="table-responsive">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Link</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
</perch:before>
                    <tr>
                        <td>
                            <perch:hc id="socialType">
                        </td>
                        <td>
                            <perch:hc id="socialLink">
                        </td>
                        <td>
                            <a><button class="btn btn-primary">Edit</button></a>
                        </td>
                    </tr>
<perch:after>
                </tbody>
            </table>
        </div>
    </div>
</perch:after>