<perch:before>
    <div class="card mb-3">
        <div style="justify-content: space-between;" class="card-header">
            <h5 class="card-title m-b-0">Notifications</h5>
        </div>
        <div class="table-responsive">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                <tbody>
</perch:before>
                    <tr>
                        <td>
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left flex2">
                                        <a href="<perch:hc id="notificationLink" >">
                                            <div class="widget-heading">
                                                <perch:hc id="notificationMessage">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
<perch:after>
                </tbody>
            </table>
        </div>

    </div>
</perch:after>