<perch:before>
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="card-title m-b-0">Your Organisations</h5>
        </div>
        <div class="table-responsive">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Job Title</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Website</th>
                </tr>
                </thead>
                <tbody>
</perch:before>
                    <tr>
                        <td>
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left flex2">
                                        <div class="widget-heading"><perch:hc id="first_name"> <perch:hc id="last_name"></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left flex2">
                                        <perch:hc id="job_title">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left flex2">
                                        <perch:hc id="email">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left flex2">
                                        <perch:hc id="phone">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left flex2">
                                        <perch:hc id="website">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
<perch:after>
                </tbody>
            </table>
        </div>
    </div>
</perch:after>