<perch:form id="update_organisation" method="post" app="hive_hivechat" type="default" class="org-form" action="/admin/organisations?orgID=<perch:hc id="organisationID">">
	<div class="card mb-3">
        <div class="card-header">
            <h5 class="card-title m-b-0">Update <perch:hc id="organisationName"></h5>
        </div>
        <div class="card-body">
			<perch:success show-form>
				<div class="alert alert-success" role="alert"><perch:hc id="organisationName"> has been updated.</div>
			</perch:success>
			<div class="form-group">
				<label>Name</label>
				<perch:input type="text" class="form-control" id="organisationName" required="true" placeholder="Organisation Name" />
				<p class="org-name-info"> </p>
			</div>
            <div class="form-group">
	            <label class="hidden">Slug</label>
				<perch:input readonly hidden type="text" class="form-control" id="organisationSlug" required="true" placeholder="Organisation Slug" />
				<a class="slug-link" id="slug-container">View Organisation</a>
			</div>
            <div class="form-group">
	            <label>Description</label>
				<perch:input type="textarea" class="form-control" id="organisationDesc" placeholder="Organisation Description" />
            </div>
            <div class="form-group">
	            <label>Logo URL</label>
				<perch:input type="text" class="form-control" id="organisationLogo" placeholder="Organisation Logo Url" />
            </div>
			<div class="form-group">
	            <label>Scope</label>
				<perch:input type="select" class="form-control" id="organisationScope" required="true" options="Private, Public" />
            </div>
            <perch:input type="text" id="organisationID" hidden>
			<perch:input type="submit" class="btn btn-secondary organisationSubmit" value="Update">
        </div>
	</div>
</perch:form>