<html>
<head>
    <title><perch:email id="email_subject"></title>
</head>
<body>
    <table>
        <tr>
            <td>
                Hive
            </td>
            <td>
                <perch:email id="hive_title">
            </td>
        </tr>
        <tr>
            <td>
                Cell
            </td>
            <td>
                <perch:email id="cell_title">
            </td>
        </tr>
        <tr>
            <td>
                Block
            </td>
            <td>
                <perch:email id="block_title">
            </td>
        </tr>
        <tr>
            <td>
                Question
            </td>
            <td>
                <perch:email id="question">
            </td>
        </tr>

    </table>
</body>
</html>