<perch:form id="password" method="post" app="perch_members">

	<div class="position-relative form-group">
		<perch:label for="old_password">Current password</perch:label>
		<perch:input type="password" id="old_password" required="true" class="form-control" />
		<perch:error for="old_password" type="required"><div class="alert alert-danger fade show" role="alert">Please enter your current password</div></perch:error>
		<perch:error for="old_password" type="valid"><div class="alert alert-danger fade show" role="alert">That password doesn't match our records</div></perch:error>
	</div>

	<div class="position-relative form-group">
		<perch:label for="password">New Password</perch:label>
		<perch:input type="password" id="password" required="true" match-with="password2" class="form-control" />
		<perch:error for="password" type="required"><div class="alert alert-danger fade show" role="alert">Please enter a new password</div></perch:error>
		<perch:error for="password" type="match"><div class="alert alert-danger fade show" role="alert">Passwords do not match</div></perch:error>
	</div>

	<div class="position-relative form-group">
		<perch:label for="password2">Repeat new password</perch:label>
		<perch:input type="password" id="password2" required="true" class="form-control" />
		<perch:error for="password2" type="required"><div class="alert alert-danger fade show" role="alert">Please repeat your password</div></perch:error>
	</div>

	<div class="position-relative form-group">
		<perch:input type="submit" value="Set new password" class="mt-1 btn btn-primary" />
		<perch:input type="hidden" id="token" />
	</div>

	<perch:success show-form="true">
		<div class="alert alert-success fade show" role="alert">Your details have been updated.</div>
	</perch:success>

</perch:form>