<perch:form id="register" method="post" app="perch_members" type="default"
	<perch:if exists="url_redirect">
		<perch:if id="url_redirect" value="invite">
			action="/admin/invites"
		</perch:if>
	<perch:else>
		action="/admin"
	</perch:if>
>
	<div class="position-relative form-group">
		<perch:label for="first_name">First name</perch:label>
		<perch:input type="text" id="first_name" required="true" label="First name" class="form-control" />
		<perch:error for="first_name" type="required"><div class="alert alert-danger fade show" role="alert">Please add your name</div></perch:error>
	</div>

	<div class="position-relative form-group">
		<perch:label for="last_name">Last name</perch:label>
		<perch:input type="text" id="last_name" required="true" label="Last name" class="form-control" />
		<perch:error for="last_name" type="required"><div class="alert alert-danger fade show" role="alert">Please add your name</div></perch:error>
	</div>

	<div class="position-relative form-group">
		<perch:label for="email">Email</perch:label>
		<perch:input type="email" id="email" required="true" placeholder="you@company.com" helper="PerchMembers_Members::check_email" class="form-control" <perch:if exists="url_email">value="<perch:members id="url_email" />"</perch:if> />
		<perch:error for="email" type="required"><div class="alert alert-danger fade show" role="alert">Please add your email address</div></perch:error>
		<perch:error for="email" type="helper"><div class="alert alert-danger fade show" role="alert">That email address is already in use</div></perch:error>
	</div>

	<div class="position-relative form-group">
		<perch:label for="password">Password</perch:label>
		<perch:input type="password" id="password" required="true" match-with="password2" class="form-control" />
		<perch:error for="password" type="required"><div class="alert alert-danger fade show" role="alert">Please add a password</div></perch:error>
		<perch:error for="password" type="match"><div class="alert alert-danger fade show" role="alert">Passwords do not match</div></perch:error>
	</div>

	<div class="position-relative form-group">
		<perch:label for="password2">Repeat Password</perch:label>
		<perch:input type="password" id="password2" required="true" class="form-control" />
		<perch:error for="password2" type="required"><div class="alert alert-danger fade show" role="alert">Please repeat your password</div></perch:error>
	</div>

	<div class="form-group c-form-check">
		<label class="c-form-check__label">
			I have read and agreed to the <a target="_blank" href="/terms-and-conditions">Terms and Conditions</a>
		</label>
		<perch:input type="checkbox" id="gdpr_check" required="true" class="c-form-check__input" value="1" />
		<perch:error for="gdpr_check" type="required"><div class="alert alert-danger fade show" role="alert">Please agree</div></perch:error>
	</div>

	<div class="position-relative form-group">
		<perch:input type="submit" value="Register" class="mt-1 btn btn-primary" />
	</div>
	<p>Already have an account? <a href="/admin/login?r=<perch:forms id="url_redirect" />" >Log in</a>.</p>

</perch:form>
<perch:showall />