.form-group-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
    column-gap: 1rem;
}

[id*="organisationName"] + p {
    margin-top: 0.3rem;
}

[id*="organisationName"].available + p {
    color: green;
}

[id*="organisationName"].unavailable + p {
    color: red;
}

.hidden {
    position: absolute;
    opacity: 0;
    max-height: 1px;
}

.page-title-logo {
    margin-right: 30px;
    max-height: 100px;
    max-width: 250px;
}

.hide {
    display: none;
}